## Import necessary libs

In [1]:
import pandas as pd

In [2]:
import numpy as np

### Using the csv file given, create a MultiIndex DataFrame using cols 0, 1, 2 as index and multiCol using rows 0, 1

In [3]:
df=pd.read_csv(r"C:\Users\mdimr\Downloads\multi_index_assignment_261_264-1 - sheet - 1.csv")
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,2014,2014.1,2015,2015.1,2016,2016.1,2017,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,NaN,NaN,NaN,Jan-Jun,Jul-Dec,Jan-Jun,Jul-Dec,Jan-Jun,Jul-Dec,Jan-Jun,...,Jan-Jun,Jul-Dec,Jan-Jun,Jul-Dec,Jan-Jun,Jul-Dec,Jan-Jun,Jul-Dec,Jan-Jun,Jul-Dec
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Telangana,Hyderabad,Smart Phone,253,113,93,223,173,93,93,...,193,203,193,253,283,193,103,203,243,153
3,Telangana,Hyderabad,Smart TV,183,213,263,183,263,113,233,...,93,153,243,253,193,243,93,263,193,193
4,Telangana,Hyderabad,Air Conditioner,153,233,193,223,283,143,93,...,243,203,183,113,203,183,103,273,183,183
5,Telangana,Secunderabad,Smart Phone,93,273,263,213,173,133,213,...,203,123,263,163,143,183,203,143,283,133
6,Telangana,Secunderabad,Smart TV,123,123,103,143,113,143,263,...,193,263,163,153,123,223,143,253,143,273
7,Telangana,Secunderabad,Air Conditioner,173,163,183,273,273,133,203,...,173,263,223,233,213,113,103,113,183,213
8,Telangana,Rangareddy,Smart Phone,93,163,233,263,243,103,213,...,243,123,283,223,273,213,213,253,193,173
9,Telangana,Rangareddy,Smart TV,113,213,253,253,143,273,143,...,163,93,203,183,233,223,253,183,183,123
10,Telangana,Rangareddy,Air Conditioner,123,103,223,123,193,253,93,...,273,253,203,253,283,113,283,173,193,233
11,Tamilnadu,North Chennai,Smart Phone,143,243,173,153,123,123,183,...,103,253,263,153,153,173,283,213,243,193
12,Tamilnadu,North Chennai,Smart TV,273,153,143,283,273,263,263,...,123,263,173,103,163,233,93,283,183,133
13,Tamilnadu,North Chennai,Air Conditioner,93,133,93,153,163,193,273,...,183,173,213,123,153,123,203,153,143,223
14,Tamilnadu,South Chennai,Smart Phone,283,143,133,273,283,263,173,...,93,143,193,163,103,133,243,103,283,183
15,Tamilnadu,South Chennai,Smart TV,223,133,173,203,93,143,103,...,113,103,223,193,213,203,203,163,143,93
16,Tamilnadu,South Chennai,Air Conditioner,263,233,193,203,193,283,173,...,263,243,113,223,223,133,283,243,243,153
17,Tamilnadu,Central Chennai,Smart Phone,133,263,233,153,223,193,103,...,173,133,143,153,233,123,143,233,113,123
18,Tamilnadu,Central Chennai,Smart TV,183,233,163,163,103,113,213,...,213,183,123,273,173,283,93,183,213,163
19,Tamilnadu,Central Chennai,Air Conditioner,103,213,93,283,233,233,233,...,283,93,153,273,113,183,93,143,193,143
20,Karnataka,North Bangalore,Smart Phone,263,163,153,173,203,203,143,...,103,213,273,193,213,253,93,173,213,263
21,Karnataka,North Bangalore,Smart TV,103,173,213,203,253,173,173,...,213,103,173,283,273,233,213,233,243,163
22,Karnataka,North Bangalore,Air Conditioner,113,243,173,113,253,223,203,...,243,143,203,253,203,253,273,223,283,183
23,Karnataka,South Bangalore,Smart Phone,283,93,113,123,123,243,93,...,113,143,123,143,263,173,203,263,143,283
24,Karnataka,South Bangalore,Smart TV,143,193,213,243,223,193,223,...,273,273,203,153,213,203,133,113,153,193
25,Karnataka,South Bangalore,Air Conditioner,203,173,123,213,153,173,203,...,273,123,163,93,283,143,143,213,183,103
26,Karnataka,Central Bangalore,Smart Phone,163,103,283,243,193,253,183,...,253,193,93,93,123,263,223,283,113,233
27,Karnataka,Central Bangalore,Smart TV,263,103,133,103,223,213,263,...,133,123,163,173,93,153,243,233,223,203
28,Karnataka,Central Bangalore,Air Conditioner,143,273,273,103,103,113,143,...,193,153,193,133,133,123,253,263,203,153

In [44]:
df=pd.read_csv(r"C:\Users\mdimr\Downloads\multi_index_assignment_261_264-1 - sheet - 1.csv",header=[0,1],index_col=[ 0, 1,2])

In [45]:
df

                                               2014            2015          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         253     113      93     223
                            Smart TV            183     213     263     183
                            Air Conditioner     153     233     193     223
          Secunderabad      Smart Phone          93     273     263     213
                            Smart TV            123     123     103     143
                            Air Conditioner     173     163     183     273
          Rangareddy        Smart Phone          93     163     233     263
                            Smart TV            113     213     253     253
                            Air Conditioner     123     103     223     123
Tamilnadu North Chennai     Smart Phone         143     243     173     153
                            Smart TV            273     153     143     283
                            Air Conditioner      93     133      93     153
          South Chennai     Smart Phone         283     143     133     273
                            Smart TV            223     133     173     203
                            Air Conditioner     263     233     193     203
          Central Chennai   Smart Phone         133     263     233     153
                            Smart TV            183     233     163     163
                            Air Conditioner     103     213      93     283
Karnataka North Bangalore   Smart Phone         263     163     153     173
                            Smart TV            103     173     213     203
                            Air Conditioner     113     243     173     113
          South Bangalore   Smart Phone         283      93     113     123
                            Smart TV            143     193     213     243
                            Air Conditioner     203     173     123     213
          Central Bangalore Smart Phone         163     103     283     243
                            Smart TV            263     103     133     103
                            Air Conditioner     143     273     273     103

                                               2016            2017          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         173      93      93     253
                            Smart TV            263     113     233     273
                            Air Conditioner     283     143      93     193
          Secunderabad      Smart Phone         173     133     213     113
                            Smart TV            113     143     263     163
                            Air Conditioner     273     133     203     173
          Rangareddy        Smart Phone         243     103     213     253
                            Smart TV            143     273     143     253
                            Air Conditioner     193     253      93     113
Tamilnadu North Chennai     Smart Phone         123     123     183     143
                            Smart TV            273     263     263     133
                            Air Conditioner     163     193     273     243
          South Chennai     Smart Phone         283     263     173     263
                            Smart TV             93     143     103     183
                            Air Conditioner     193     283     173     283
          Central Chennai   Smart Phone         223     193     103     223
                            Smart TV            103     113     213     203
                            Air Conditioner     233     233     233     103
Karnataka North Bangalore   Smart Phone         203     203     143     153
                            Smart TV            253     173     173     113
                            Air Conditioner     253     223     203     113
          South Bangalore   Smart Phone         123     243      93     183
                            Smart TV            223     193     223     203
                            Air Conditioner     153     173     203     213
          Central Bangalore Smart Phone         193     253     183     193
                            Smart TV            223     213     263      93
                            Air Conditioner     103     113     143     243

                                               2018            2019          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         153     173     193     203
                            Smart TV            263     273      93     153
                            Air Conditioner     153     153     243     203
          Secunderabad      Smart Phone         133     153     203     123
                            Smart TV             93     243     193     263
                            Air Conditioner     243     163     173     263
          Rangareddy        Smart Phone          93     123     243     123
                            Smart TV            113     173     163      93
                            Air Conditioner     133      93     273     253
Tamilnadu North Chennai     Smart Phone         203     223     103     253
                            Smart TV            113     193     123     263
                            Air Conditioner     263     103     183     173
          South Chennai     Smart Phone         153     283      93     143
                            Smart TV            243     103     113     103
                            Air Conditioner     143     163     263     243
          Central Chennai   Smart Phone         283     153     173     133
                            Smart TV            173     283     213     183
                            Air Conditioner     173     263     283      93
Karnataka North Bangalore   Smart Phone         223     243     103     213
                            Smart TV            143     253     213     103
                            Air Conditioner     213     283     243     143
          South Bangalore   Smart Phone          93     153     113     143
                            Smart TV            123     253     273     273
                            Air Conditioner     213     103     273     123
          Central Bangalore Smart Phone         203     163     253     193
                            Smart TV            273     283     133     123
                            Air Conditioner     283     153     193     153

                                               2020            2021          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         193     253     283     193
                            Smart TV            243     253     193     243
                            Air Conditioner     183     113     203     183
          Secunderabad      Smart Phone         263     163     143     183
                            Smart TV            163     153     123     223
                            Air Conditioner     223     233     213     113
          Rangareddy        Smart Phone         283     223     273     213
                            Smart TV            203     183     233     223
                            Air Conditioner     203     253     283     113
Tamilnadu North Chennai     Smart Phone         263     153     153     173
                            Smart TV            173     103     163     233
                            Air Conditioner     213     123     153     123
          South Chennai     Smart Phone         193     163     103     133
                            Smart TV            223     193     213     203
                            Air Conditioner     113     223     223     133
          Central Chennai   Smart Phone         143     153     233     123
                            Smart TV            123     273     173     283
                            Air Conditioner     153     273     113     183
Karnataka North Bangalore   Smart Phone         273     193     213     253
                            Smart TV            173     283     273     233
                            Air Conditioner     203     253     203     253
          South Bangalore   Smart Phone         123     143     263     173
                            Smart TV            203     153     213     203
                            Air Conditioner     163      93     283     143
          Central Bangalore Smart Phone          93      93     123     263
                            Smart TV            163     173      93     153
                            Air Conditioner     193     133     133     123

                                               2022            2023
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         103     203     243     153
                            Smart TV             93     263     193     193
                            Air Conditioner     103     273     183     183
          Secunderabad      Smart Phone         203     143     283     133
                            Smart TV            143     253     143     273
                            Air Conditioner     103     113     183     213
          Rangareddy        Smart Phone         213     253     193     173
                            Smart TV            253     183     183     123
                            Air Conditioner     283     173     193     233
Tamilnadu North Chennai     Smart Phone         283     213     243     193
                            Smart TV             93     283     183     133
                            Air Conditioner     203     153     143     223
          South Chennai     Smart Phone         243     103     283     183
                            Smart TV            203     163     143      93
                            Air Conditioner     283     243     243     153
          Central Chennai   Smart Phone         143     233     113     123
                            Smart TV             93     183     213     163
                            Air Conditioner      93     143     193     143
Karnataka North Bangalore   Smart Phone          93     173     213     263
                            Smart TV            213     233     243     163
                            Air Conditioner     273     223     283     183
          South Bangalore   Smart Phone         203     263     143     283
                            Smart TV            133     113     153     193
                            Air Conditioner     143     213     183     103
          Central Bangalore Smart Phone         223     283     113     233
                            Smart TV            243     233     223     203
                            Air Conditioner     253     263     203     153

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 27 entries, ('Telangana', 'Hyderabad', 'Smart Phone') to ('Karnataka', 'Central Bangalore', 'Air Conditioner')
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   (2014, Jan-Jun)  27 non-null     int64
 1   (2014, Jul-Dec)  27 non-null     int64
 2   (2015, Jan-Jun)  27 non-null     int64
 3   (2015, Jul-Dec)  27 non-null     int64
 4   (2016, Jan-Jun)  27 non-null     int64
 5   (2016, Jul-Dec)  27 non-null     int64
 6   (2017, Jan-Jun)  27 non-null     int64
 7   (2017, Jul-Dec)  27 non-null     int64
 8   (2018, Jan-Jun)  27 non-null     int64
 9   (2018, Jul-Dec)  27 non-null     int64
 10  (2019, Jan-Jun)  27 non-null     int64
 11  (2019, Jul-Dec)  27 non-null     int64
 12  (2020, Jan-Jun)  27 non-null     int64
 13  (2020, Jul-Dec)  27 non-null     int64
 14  (2021, Jan-Jun)  27 non-null     int64
 15  (2021, Jul-Dec)  27 non-null     int64
 16  (2022, Jan-Jun)  27 non-null     int64
 17  (2022, Jul-Dec)  27 non-null     int64
 18  (2023, Jan-Jun)  27 non-null     int64
 19  (2023, Jul-Dec)  27 non-null     int64
dtypes: int64(20)
memory usage: 5.0+ KB

In [7]:
df.dropna()

                                               2014            2015          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         253     113      93     223
                            Smart TV            183     213     263     183
                            Air Conditioner     153     233     193     223
          Secunderabad      Smart Phone          93     273     263     213
                            Smart TV            123     123     103     143
                            Air Conditioner     173     163     183     273
          Rangareddy        Smart Phone          93     163     233     263
                            Smart TV            113     213     253     253
                            Air Conditioner     123     103     223     123
Tamilnadu North Chennai     Smart Phone         143     243     173     153
                            Smart TV            273     153     143     283
                            Air Conditioner      93     133      93     153
          South Chennai     Smart Phone         283     143     133     273
                            Smart TV            223     133     173     203
                            Air Conditioner     263     233     193     203
          Central Chennai   Smart Phone         133     263     233     153
                            Smart TV            183     233     163     163
                            Air Conditioner     103     213      93     283
Karnataka North Bangalore   Smart Phone         263     163     153     173
                            Smart TV            103     173     213     203
                            Air Conditioner     113     243     173     113
          South Bangalore   Smart Phone         283      93     113     123
                            Smart TV            143     193     213     243
                            Air Conditioner     203     173     123     213
          Central Bangalore Smart Phone         163     103     283     243
                            Smart TV            263     103     133     103
                            Air Conditioner     143     273     273     103

                                               2016            2017          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         173      93      93     253
                            Smart TV            263     113     233     273
                            Air Conditioner     283     143      93     193
          Secunderabad      Smart Phone         173     133     213     113
                            Smart TV            113     143     263     163
                            Air Conditioner     273     133     203     173
          Rangareddy        Smart Phone         243     103     213     253
                            Smart TV            143     273     143     253
                            Air Conditioner     193     253      93     113
Tamilnadu North Chennai     Smart Phone         123     123     183     143
                            Smart TV            273     263     263     133
                            Air Conditioner     163     193     273     243
          South Chennai     Smart Phone         283     263     173     263
                            Smart TV             93     143     103     183
                            Air Conditioner     193     283     173     283
          Central Chennai   Smart Phone         223     193     103     223
                            Smart TV            103     113     213     203
                            Air Conditioner     233     233     233     103
Karnataka North Bangalore   Smart Phone         203     203     143     153
                            Smart TV            253     173     173     113
                            Air Conditioner     253     223     203     113
          South Bangalore   Smart Phone         123     243      93     183
                            Smart TV            223     193     223     203
                            Air Conditioner     153     173     203     213
          Central Bangalore Smart Phone         193     253     183     193
                            Smart TV            223     213     263      93
                            Air Conditioner     103     113     143     243

                                               2018            2019          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         153     173     193     203
                            Smart TV            263     273      93     153
                            Air Conditioner     153     153     243     203
          Secunderabad      Smart Phone         133     153     203     123
                            Smart TV             93     243     193     263
                            Air Conditioner     243     163     173     263
          Rangareddy        Smart Phone          93     123     243     123
                            Smart TV            113     173     163      93
                            Air Conditioner     133      93     273     253
Tamilnadu North Chennai     Smart Phone         203     223     103     253
                            Smart TV            113     193     123     263
                            Air Conditioner     263     103     183     173
          South Chennai     Smart Phone         153     283      93     143
                            Smart TV            243     103     113     103
                            Air Conditioner     143     163     263     243
          Central Chennai   Smart Phone         283     153     173     133
                            Smart TV            173     283     213     183
                            Air Conditioner     173     263     283      93
Karnataka North Bangalore   Smart Phone         223     243     103     213
                            Smart TV            143     253     213     103
                            Air Conditioner     213     283     243     143
          South Bangalore   Smart Phone          93     153     113     143
                            Smart TV            123     253     273     273
                            Air Conditioner     213     103     273     123
          Central Bangalore Smart Phone         203     163     253     193
                            Smart TV            273     283     133     123
                            Air Conditioner     283     153     193     153

                                               2020            2021          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         193     253     283     193
                            Smart TV            243     253     193     243
                            Air Conditioner     183     113     203     183
          Secunderabad      Smart Phone         263     163     143     183
                            Smart TV            163     153     123     223
                            Air Conditioner     223     233     213     113
          Rangareddy        Smart Phone         283     223     273     213
                            Smart TV            203     183     233     223
                            Air Conditioner     203     253     283     113
Tamilnadu North Chennai     Smart Phone         263     153     153     173
                            Smart TV            173     103     163     233
                            Air Conditioner     213     123     153     123
          South Chennai     Smart Phone         193     163     103     133
                            Smart TV            223     193     213     203
                            Air Conditioner     113     223     223     133
          Central Chennai   Smart Phone         143     153     233     123
                            Smart TV            123     273     173     283
                            Air Conditioner     153     273     113     183
Karnataka North Bangalore   Smart Phone         273     193     213     253
                            Smart TV            173     283     273     233
                            Air Conditioner     203     253     203     253
          South Bangalore   Smart Phone         123     143     263     173
                            Smart TV            203     153     213     203
                            Air Conditioner     163      93     283     143
          Central Bangalore Smart Phone          93      93     123     263
                            Smart TV            163     173      93     153
                            Air Conditioner     193     133     133     123

                                               2022            2023
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         103     203     243     153
                            Smart TV             93     263     193     193
                            Air Conditioner     103     273     183     183
          Secunderabad      Smart Phone         203     143     283     133
                            Smart TV            143     253     143     273
                            Air Conditioner     103     113     183     213
          Rangareddy        Smart Phone         213     253     193     173
                            Smart TV            253     183     183     123
                            Air Conditioner     283     173     193     233
Tamilnadu North Chennai     Smart Phone         283     213     243     193
                            Smart TV             93     283     183     133
                            Air Conditioner     203     153     143     223
          South Chennai     Smart Phone         243     103     283     183
                            Smart TV            203     163     143      93
                            Air Conditioner     283     243     243     153
          Central Chennai   Smart Phone         143     233     113     123
                            Smart TV             93     183     213     163
                            Air Conditioner      93     143     193     143
Karnataka North Bangalore   Smart Phone          93     173     213     263
                            Smart TV            213     233     243     163
                            Air Conditioner     273     223     283     183
          South Bangalore   Smart Phone         203     263     143     283
                            Smart TV            133     113     153     193
                            Air Conditioner     143     213     183     103
          Central Bangalore Smart Phone         223     283     113     233
                            Smart TV            243     233     223     203
                            Air Conditioner     253     263     203     153

### sort the index

In [8]:
df.sort_index(inplace=True)

### Name the index cols as State, Region, Product and the multicol levels as Year and Semester

In [9]:
x=df.rename_axis(index=['State','Region','Product'])
x

                                               2014            2015          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     143     273     273     103
                            Smart Phone         163     103     283     243
                            Smart TV            263     103     133     103
          North Bangalore   Air Conditioner     113     243     173     113
                            Smart Phone         263     163     153     173
                            Smart TV            103     173     213     203
          South Bangalore   Air Conditioner     203     173     123     213
                            Smart Phone         283      93     113     123
                            Smart TV            143     193     213     243
Tamilnadu Central Chennai   Air Conditioner     103     213      93     283
                            Smart Phone         133     263     233     153
                            Smart TV            183     233     163     163
          North Chennai     Air Conditioner      93     133      93     153
                            Smart Phone         143     243     173     153
                            Smart TV            273     153     143     283
          South Chennai     Air Conditioner     263     233     193     203
                            Smart Phone         283     143     133     273
                            Smart TV            223     133     173     203
Telangana Hyderabad         Air Conditioner     153     233     193     223
                            Smart Phone         253     113      93     223
                            Smart TV            183     213     263     183
          Rangareddy        Air Conditioner     123     103     223     123
                            Smart Phone          93     163     233     263
                            Smart TV            113     213     253     253
          Secunderabad      Air Conditioner     173     163     183     273
                            Smart Phone          93     273     263     213
                            Smart TV            123     123     103     143

                                               2016            2017          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     103     113     143     243
                            Smart Phone         193     253     183     193
                            Smart TV            223     213     263      93
          North Bangalore   Air Conditioner     253     223     203     113
                            Smart Phone         203     203     143     153
                            Smart TV            253     173     173     113
          South Bangalore   Air Conditioner     153     173     203     213
                            Smart Phone         123     243      93     183
                            Smart TV            223     193     223     203
Tamilnadu Central Chennai   Air Conditioner     233     233     233     103
                            Smart Phone         223     193     103     223
                            Smart TV            103     113     213     203
          North Chennai     Air Conditioner     163     193     273     243
                            Smart Phone         123     123     183     143
                            Smart TV            273     263     263     133
          South Chennai     Air Conditioner     193     283     173     283
                            Smart Phone         283     263     173     263
                            Smart TV             93     143     103     183
Telangana Hyderabad         Air Conditioner     283     143      93     193
                            Smart Phone         173      93      93     253
                            Smart TV            263     113     233     273
          Rangareddy        Air Conditioner     193     253      93     113
                            Smart Phone         243     103     213     253
                            Smart TV            143     273     143     253
          Secunderabad      Air Conditioner     273     133     203     173
                            Smart Phone         173     133     213     113
                            Smart TV            113     143     263     163

                                               2018            2019          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     283     153     193     153
                            Smart Phone         203     163     253     193
                            Smart TV            273     283     133     123
          North Bangalore   Air Conditioner     213     283     243     143
                            Smart Phone         223     243     103     213
                            Smart TV            143     253     213     103
          South Bangalore   Air Conditioner     213     103     273     123
                            Smart Phone          93     153     113     143
                            Smart TV            123     253     273     273
Tamilnadu Central Chennai   Air Conditioner     173     263     283      93
                            Smart Phone         283     153     173     133
                            Smart TV            173     283     213     183
          North Chennai     Air Conditioner     263     103     183     173
                            Smart Phone         203     223     103     253
                            Smart TV            113     193     123     263
          South Chennai     Air Conditioner     143     163     263     243
                            Smart Phone         153     283      93     143
                            Smart TV            243     103     113     103
Telangana Hyderabad         Air Conditioner     153     153     243     203
                            Smart Phone         153     173     193     203
                            Smart TV            263     273      93     153
          Rangareddy        Air Conditioner     133      93     273     253
                            Smart Phone          93     123     243     123
                            Smart TV            113     173     163      93
          Secunderabad      Air Conditioner     243     163     173     263
                            Smart Phone         133     153     203     123
                            Smart TV             93     243     193     263

                                               2020            2021          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     193     133     133     123
                            Smart Phone          93      93     123     263
                            Smart TV            163     173      93     153
          North Bangalore   Air Conditioner     203     253     203     253
                            Smart Phone         273     193     213     253
                            Smart TV            173     283     273     233
          South Bangalore   Air Conditioner     163      93     283     143
                            Smart Phone         123     143     263     173
                            Smart TV            203     153     213     203
Tamilnadu Central Chennai   Air Conditioner     153     273     113     183
                            Smart Phone         143     153     233     123
                            Smart TV            123     273     173     283
          North Chennai     Air Conditioner     213     123     153     123
                            Smart Phone         263     153     153     173
                            Smart TV            173     103     163     233
          South Chennai     Air Conditioner     113     223     223     133
                            Smart Phone         193     163     103     133
                            Smart TV            223     193     213     203
Telangana Hyderabad         Air Conditioner     183     113     203     183
                            Smart Phone         193     253     283     193
                            Smart TV            243     253     193     243
          Rangareddy        Air Conditioner     203     253     283     113
                            Smart Phone         283     223     273     213
                            Smart TV            203     183     233     223
          Secunderabad      Air Conditioner     223     233     213     113
                            Smart Phone         263     163     143     183
                            Smart TV            163     153     123     223

                                               2022            2023
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     253     263     203     153
                            Smart Phone         223     283     113     233
                            Smart TV            243     233     223     203
          North Bangalore   Air Conditioner     273     223     283     183
                            Smart Phone          93     173     213     263
                            Smart TV            213     233     243     163
          South Bangalore   Air Conditioner     143     213     183     103
                            Smart Phone         203     263     143     283
                            Smart TV            133     113     153     193
Tamilnadu Central Chennai   Air Conditioner      93     143     193     143
                            Smart Phone         143     233     113     123
                            Smart TV             93     183     213     163
          North Chennai     Air Conditioner     203     153     143     223
                            Smart Phone         283     213     243     193
                            Smart TV             93     283     183     133
          South Chennai     Air Conditioner     283     243     243     153
                            Smart Phone         243     103     283     183
                            Smart TV            203     163     143      93
Telangana Hyderabad         Air Conditioner     103     273     183     183
                            Smart Phone         103     203     243     153
                            Smart TV             93     263     193     193
          Rangareddy        Air Conditioner     283     173     193     233
                            Smart Phone         213     253     193     173
                            Smart TV            253     183     183     123
          Secunderabad      Air Conditioner     103     113     183     213
                            Smart Phone         203     143     283     133
                            Smart TV            143     253     143     273

In [10]:
y=x.rename_axis(columns=['Year', 'Semester'])
y

Year                                           2014            2015          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     143     273     273     103
                            Smart Phone         163     103     283     243
                            Smart TV            263     103     133     103
          North Bangalore   Air Conditioner     113     243     173     113
                            Smart Phone         263     163     153     173
                            Smart TV            103     173     213     203
          South Bangalore   Air Conditioner     203     173     123     213
                            Smart Phone         283      93     113     123
                            Smart TV            143     193     213     243
Tamilnadu Central Chennai   Air Conditioner     103     213      93     283
                            Smart Phone         133     263     233     153
                            Smart TV            183     233     163     163
          North Chennai     Air Conditioner      93     133      93     153
                            Smart Phone         143     243     173     153
                            Smart TV            273     153     143     283
          South Chennai     Air Conditioner     263     233     193     203
                            Smart Phone         283     143     133     273
                            Smart TV            223     133     173     203
Telangana Hyderabad         Air Conditioner     153     233     193     223
                            Smart Phone         253     113      93     223
                            Smart TV            183     213     263     183
          Rangareddy        Air Conditioner     123     103     223     123
                            Smart Phone          93     163     233     263
                            Smart TV            113     213     253     253
          Secunderabad      Air Conditioner     173     163     183     273
                            Smart Phone          93     273     263     213
                            Smart TV            123     123     103     143

Year                                           2016            2017          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     103     113     143     243
                            Smart Phone         193     253     183     193
                            Smart TV            223     213     263      93
          North Bangalore   Air Conditioner     253     223     203     113
                            Smart Phone         203     203     143     153
                            Smart TV            253     173     173     113
          South Bangalore   Air Conditioner     153     173     203     213
                            Smart Phone         123     243      93     183
                            Smart TV            223     193     223     203
Tamilnadu Central Chennai   Air Conditioner     233     233     233     103
                            Smart Phone         223     193     103     223
                            Smart TV            103     113     213     203
          North Chennai     Air Conditioner     163     193     273     243
                            Smart Phone         123     123     183     143
                            Smart TV            273     263     263     133
          South Chennai     Air Conditioner     193     283     173     283
                            Smart Phone         283     263     173     263
                            Smart TV             93     143     103     183
Telangana Hyderabad         Air Conditioner     283     143      93     193
                            Smart Phone         173      93      93     253
                            Smart TV            263     113     233     273
          Rangareddy        Air Conditioner     193     253      93     113
                            Smart Phone         243     103     213     253
                            Smart TV            143     273     143     253
          Secunderabad      Air Conditioner     273     133     203     173
                            Smart Phone         173     133     213     113
                            Smart TV            113     143     263     163

Year                                           2018            2019          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     283     153     193     153
                            Smart Phone         203     163     253     193
                            Smart TV            273     283     133     123
          North Bangalore   Air Conditioner     213     283     243     143
                            Smart Phone         223     243     103     213
                            Smart TV            143     253     213     103
          South Bangalore   Air Conditioner     213     103     273     123
                            Smart Phone          93     153     113     143
                            Smart TV            123     253     273     273
Tamilnadu Central Chennai   Air Conditioner     173     263     283      93
                            Smart Phone         283     153     173     133
                            Smart TV            173     283     213     183
          North Chennai     Air Conditioner     263     103     183     173
                            Smart Phone         203     223     103     253
                            Smart TV            113     193     123     263
          South Chennai     Air Conditioner     143     163     263     243
                            Smart Phone         153     283      93     143
                            Smart TV            243     103     113     103
Telangana Hyderabad         Air Conditioner     153     153     243     203
                            Smart Phone         153     173     193     203
                            Smart TV            263     273      93     153
          Rangareddy        Air Conditioner     133      93     273     253
                            Smart Phone          93     123     243     123
                            Smart TV            113     173     163      93
          Secunderabad      Air Conditioner     243     163     173     263
                            Smart Phone         133     153     203     123
                            Smart TV             93     243     193     263

Year                                           2020            2021          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     193     133     133     123
                            Smart Phone          93      93     123     263
                            Smart TV            163     173      93     153
          North Bangalore   Air Conditioner     203     253     203     253
                            Smart Phone         273     193     213     253
                            Smart TV            173     283     273     233
          South Bangalore   Air Conditioner     163      93     283     143
                            Smart Phone         123     143     263     173
                            Smart TV            203     153     213     203
Tamilnadu Central Chennai   Air Conditioner     153     273     113     183
                            Smart Phone         143     153     233     123
                            Smart TV            123     273     173     283
          North Chennai     Air Conditioner     213     123     153     123
                            Smart Phone         263     153     153     173
                            Smart TV            173     103     163     233
          South Chennai     Air Conditioner     113     223     223     133
                            Smart Phone         193     163     103     133
                            Smart TV            223     193     213     203
Telangana Hyderabad         Air Conditioner     183     113     203     183
                            Smart Phone         193     253     283     193
                            Smart TV            243     253     193     243
          Rangareddy        Air Conditioner     203     253     283     113
                            Smart Phone         283     223     273     213
                            Smart TV            203     183     233     223
          Secunderabad      Air Conditioner     223     233     213     113
                            Smart Phone         263     163     143     183
                            Smart TV            163     153     123     223

Year                                           2022            2023
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     253     263     203     153
                            Smart Phone         223     283     113     233
                            Smart TV            243     233     223     203
          North Bangalore   Air Conditioner     273     223     283     183
                            Smart Phone          93     173     213     263
                            Smart TV            213     233     243     163
          South Bangalore   Air Conditioner     143     213     183     103
                            Smart Phone         203     263     143     283
                            Smart TV            133     113     153     193
Tamilnadu Central Chennai   Air Conditioner      93     143     193     143
                            Smart Phone         143     233     113     123
                            Smart TV             93     183     213     163
          North Chennai     Air Conditioner     203     153     143     223
                            Smart Phone         283     213     243     193
                            Smart TV             93     283     183     133
          South Chennai     Air Conditioner     283     243     243     153
                            Smart Phone         243     103     283     183
                            Smart TV            203     163     143      93
Telangana Hyderabad         Air Conditioner     103     273     183     183
                            Smart Phone         103     203     243     153
                            Smart TV             93     263     193     193
          Rangareddy        Air Conditioner     283     173     193     233
                            Smart Phone         213     253     193     173
                            Smart TV            253     183     183     123
          Secunderabad      Air Conditioner     103     113     183     213
                            Smart Phone         203     143     283     133
                            Smart TV            143     253     143     273

In [11]:
y.sort_index(inplace=True)

###  Using .loc method, find the number of units of Smart Tv sold in Central Channai in year 2020

In [21]:
Jan2020= y.loc[('Tamilnadu', 'Central Chennai', 'Smart TV'), ('2020', 'Jan-Jun')]
Jan2020

123

In [22]:
Jun2020= y.loc[('Tamilnadu', 'Central Chennai', 'Smart TV'), ('2020', 'Jul-Dec')]
Jun2020

273

In [23]:
total2020 = Jan2020 + Jun2020
total2020

396

## using .loc and slice(), get the records from Rangareddy, Telangana and all records from Tamilnadu for years 'Jul-Dec' of 2016 till & including 2019

In [24]:
x=y.loc[('Tamilnadu'),(slice('2016','2019'), 'Jul-Dec')]

In [25]:
x

Year                               2016    2017    2018    2019
Semester                        Jul-Dec Jul-Dec Jul-Dec Jul-Dec
Region          Product
Central Chennai Air Conditioner     233     103     263      93
                Smart Phone         193     223     153     133
                Smart TV            113     203     283     183
North Chennai   Air Conditioner     193     243     103     173
                Smart Phone         123     143     223     253
                Smart TV            263     133     193     263
South Chennai   Air Conditioner     283     283     163     243
                Smart Phone         263     263     283     143
                Smart TV            143     183     103     103

In [27]:
z=y.loc[('Telangana', 'Rangareddy'), (slice('2016','2019'), 'Jul-Dec')]
z

Year               2016    2017    2018    2019
Semester        Jul-Dec Jul-Dec Jul-Dec Jul-Dec
Product
Air Conditioner     253     113      93     253
Smart Phone         103     253     123     123
Smart TV            273     253     173      93

In [28]:
pd.concat([x,z])

Year                                  2016    2017    2018    2019
Semester                           Jul-Dec Jul-Dec Jul-Dec Jul-Dec
(Central Chennai, Air Conditioner)     233     103     263      93
(Central Chennai, Smart Phone)         193     223     153     133
(Central Chennai, Smart TV)            113     203     283     183
(North Chennai, Air Conditioner)       193     243     103     173
(North Chennai, Smart Phone)           123     143     223     253
(North Chennai, Smart TV)              263     133     193     263
(South Chennai, Air Conditioner)       283     283     163     243
(South Chennai, Smart Phone)           263     263     283     143
(South Chennai, Smart TV)              143     183     103     103
Air Conditioner                        253     113      93     253
Smart Phone                            103     253     123     123
Smart TV                               273     253     173      93

### using .xs(), get all the records from Karnataka belonging to Air Conditioner

In [29]:
y.xs(('Karnataka',slice(None),'Air Conditioner'),level=(0,1,2))

Year                                           2014            2015          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     143     273     273     103
          North Bangalore   Air Conditioner     113     243     173     113
          South Bangalore   Air Conditioner     203     173     123     213

Year                                           2016            2017          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     103     113     143     243
          North Bangalore   Air Conditioner     253     223     203     113
          South Bangalore   Air Conditioner     153     173     203     213

Year                                           2018            2019          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     283     153     193     153
          North Bangalore   Air Conditioner     213     283     243     143
          South Bangalore   Air Conditioner     213     103     273     123

Year                                           2020            2021          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     193     133     133     123
          North Bangalore   Air Conditioner     203     253     203     253
          South Bangalore   Air Conditioner     163      93     283     143

Year                                           2022            2023
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     253     263     203     153
          North Bangalore   Air Conditioner     273     223     283     183
          South Bangalore   Air Conditioner     143     213     183     103

### using .xs(), get all the records from 'Jan-Jun'

In [30]:
jan_jun_records = y.xs(key='Jan-Jun', level='Semester', axis=1)
jan_jun_records

Year                                         2014  2015  2016  2017  2018  \
State     Region            Product
Karnataka Central Bangalore Air Conditioner   143   273   103   143   283
                            Smart Phone       163   283   193   183   203
                            Smart TV          263   133   223   263   273
          North Bangalore   Air Conditioner   113   173   253   203   213
                            Smart Phone       263   153   203   143   223
                            Smart TV          103   213   253   173   143
          South Bangalore   Air Conditioner   203   123   153   203   213
                            Smart Phone       283   113   123    93    93
                            Smart TV          143   213   223   223   123
Tamilnadu Central Chennai   Air Conditioner   103    93   233   233   173
                            Smart Phone       133   233   223   103   283
                            Smart TV          183   163   103   213   173
          North Chennai     Air Conditioner    93    93   163   273   263
                            Smart Phone       143   173   123   183   203
                            Smart TV          273   143   273   263   113
          South Chennai     Air Conditioner   263   193   193   173   143
                            Smart Phone       283   133   283   173   153
                            Smart TV          223   173    93   103   243
Telangana Hyderabad         Air Conditioner   153   193   283    93   153
                            Smart Phone       253    93   173    93   153
                            Smart TV          183   263   263   233   263
          Rangareddy        Air Conditioner   123   223   193    93   133
                            Smart Phone        93   233   243   213    93
                            Smart TV          113   253   143   143   113
          Secunderabad      Air Conditioner   173   183   273   203   243
                            Smart Phone        93   263   173   213   133
                            Smart TV          123   103   113   263    93

Year                                         2019  2020  2021  2022  2023
State     Region            Product
Karnataka Central Bangalore Air Conditioner   193   193   133   253   203
                            Smart Phone       253    93   123   223   113
                            Smart TV          133   163    93   243   223
          North Bangalore   Air Conditioner   243   203   203   273   283
                            Smart Phone       103   273   213    93   213
                            Smart TV          213   173   273   213   243
          South Bangalore   Air Conditioner   273   163   283   143   183
                            Smart Phone       113   123   263   203   143
                            Smart TV          273   203   213   133   153
Tamilnadu Central Chennai   Air Conditioner   283   153   113    93   193
                            Smart Phone       173   143   233   143   113
                            Smart TV          213   123   173    93   213
          North Chennai     Air Conditioner   183   213   153   203   143
                            Smart Phone       103   263   153   283   243
                            Smart TV          123   173   163    93   183
          South Chennai     Air Conditioner   263   113   223   283   243
                            Smart Phone        93   193   103   243   283
                            Smart TV          113   223   213   203   143
Telangana Hyderabad         Air Conditioner   243   183   203   103   183
                            Smart Phone       193   193   283   103   243
                            Smart TV           93   243   193    93   193
          Rangareddy        Air Conditioner   273   203   283   283   193
                            Smart Phone       243   283   273   213   193
                            Smart TV          163   203   233   253   183
          Secunderabad      Air Conditioner   173   223   213   103   183
                            Smart Phone       203   263   143   203   283
                            Smart TV          193   163   123   143   143

### using 'get_level_values', get all records belonging to 'Smart TV'

In [31]:
y.loc[y.index.get_level_values('Product') == 'Smart TV']

Year                                    2014            2015            2016  \
Semester                             Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State     Region            Product
Karnataka Central Bangalore Smart TV     263     103     133     103     223
          North Bangalore   Smart TV     103     173     213     203     253
          South Bangalore   Smart TV     143     193     213     243     223
Tamilnadu Central Chennai   Smart TV     183     233     163     163     103
          North Chennai     Smart TV     273     153     143     283     273
          South Chennai     Smart TV     223     133     173     203      93
Telangana Hyderabad         Smart TV     183     213     263     183     263
          Rangareddy        Smart TV     113     213     253     253     143
          Secunderabad      Smart TV     123     123     103     143     113

Year                                            2017            2018          \
Semester                             Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Smart TV     213     263      93     273     283
          North Bangalore   Smart TV     173     173     113     143     253
          South Bangalore   Smart TV     193     223     203     123     253
Tamilnadu Central Chennai   Smart TV     113     213     203     173     283
          North Chennai     Smart TV     263     263     133     113     193
          South Chennai     Smart TV     143     103     183     243     103
Telangana Hyderabad         Smart TV     113     233     273     263     273
          Rangareddy        Smart TV     273     143     253     113     173
          Secunderabad      Smart TV     143     263     163      93     243

Year                                    2019            2020            2021  \
Semester                             Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State     Region            Product
Karnataka Central Bangalore Smart TV     133     123     163     173      93
          North Bangalore   Smart TV     213     103     173     283     273
          South Bangalore   Smart TV     273     273     203     153     213
Tamilnadu Central Chennai   Smart TV     213     183     123     273     173
          North Chennai     Smart TV     123     263     173     103     163
          South Chennai     Smart TV     113     103     223     193     213
Telangana Hyderabad         Smart TV      93     153     243     253     193
          Rangareddy        Smart TV     163      93     203     183     233
          Secunderabad      Smart TV     193     263     163     153     123

Year                                            2022            2023
Semester                             Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Smart TV     153     243     233     223     203
          North Bangalore   Smart TV     233     213     233     243     163
          South Bangalore   Smart TV     203     133     113     153     193
Tamilnadu Central Chennai   Smart TV     283      93     183     213     163
          North Chennai     Smart TV     233      93     283     183     133
          South Chennai     Smart TV     203     203     163     143      93
Telangana Hyderabad         Smart TV     243      93     263     193     193
          Rangareddy        Smart TV     223     253     183     183     123
          Secunderabad      Smart TV     223     143     253     143     273

### Give a detailed data about the Tamilnadu, and then tell me how many items were sold in total from this warehouse over the 10 year period?

In [32]:
y.loc[y.index.get_level_values('State') == 'Tamilnadu']

Year                                         2014            2015          \
Semester                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region          Product
Tamilnadu Central Chennai Air Conditioner     103     213      93     283
                          Smart Phone         133     263     233     153
                          Smart TV            183     233     163     163
          North Chennai   Air Conditioner      93     133      93     153
                          Smart Phone         143     243     173     153
                          Smart TV            273     153     143     283
          South Chennai   Air Conditioner     263     233     193     203
                          Smart Phone         283     143     133     273
                          Smart TV            223     133     173     203

Year                                         2016            2017          \
Semester                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region          Product
Tamilnadu Central Chennai Air Conditioner     233     233     233     103
                          Smart Phone         223     193     103     223
                          Smart TV            103     113     213     203
          North Chennai   Air Conditioner     163     193     273     243
                          Smart Phone         123     123     183     143
                          Smart TV            273     263     263     133
          South Chennai   Air Conditioner     193     283     173     283
                          Smart Phone         283     263     173     263
                          Smart TV             93     143     103     183

Year                                         2018            2019          \
Semester                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region          Product
Tamilnadu Central Chennai Air Conditioner     173     263     283      93
                          Smart Phone         283     153     173     133
                          Smart TV            173     283     213     183
          North Chennai   Air Conditioner     263     103     183     173
                          Smart Phone         203     223     103     253
                          Smart TV            113     193     123     263
          South Chennai   Air Conditioner     143     163     263     243
                          Smart Phone         153     283      93     143
                          Smart TV            243     103     113     103

Year                                         2020            2021          \
Semester                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region          Product
Tamilnadu Central Chennai Air Conditioner     153     273     113     183
                          Smart Phone         143     153     233     123
                          Smart TV            123     273     173     283
          North Chennai   Air Conditioner     213     123     153     123
                          Smart Phone         263     153     153     173
                          Smart TV            173     103     163     233
          South Chennai   Air Conditioner     113     223     223     133
                          Smart Phone         193     163     103     133
                          Smart TV            223     193     213     203

Year                                         2022            2023
Semester                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region          Product
Tamilnadu Central Chennai Air Conditioner      93     143     193     143
                          Smart Phone         143     233     113     123
                          Smart TV             93     183     213     163
          North Chennai   Air Conditioner     203     153     143     223
                          Smart Phone         283     213     243     193
                          Smart TV             93     283     183     133
          South Chennai   Air Conditioner     283     243     243     153
                          Smart Phone         243     103     283     183
                          Smart TV            203     163     143      93

In [33]:
y.loc[y.index.get_level_values('State') == 'Tamilnadu'].sum().sum()

33230

### How many Smart TV were sold in Telangana & Karnataka during the year 2017?

In [34]:
Telangana=y.loc[('Telangana', slice(None), 'Smart TV'), ('2017', slice(None))]
Telangana

Year                               2017
Semester                        Jan-Jun Jul-Dec
State     Region       Product
Telangana Hyderabad    Smart TV     233     273
          Rangareddy   Smart TV     143     253
          Secunderabad Smart TV     263     163

In [35]:
Karnataka = y.loc[('Karnataka', slice(None), 'Smart TV'), ('2017', slice(None))]
Karnataka

Year                                    2017
Semester                             Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Smart TV     263      93
          North Bangalore   Smart TV     173     113
          South Bangalore   Smart TV     223     203

In [36]:
Telangana.sum()

Year  Semester
2017  Jan-Jun     639
      Jul-Dec     689
dtype: int64

In [37]:
Telangana.sum().sum()

1328

In [38]:
Karnataka.sum()

Year  Semester
2017  Jan-Jun     659
      Jul-Dec     409
dtype: int64

In [39]:
Karnataka.sum()

Year  Semester
2017  Jan-Jun     659
      Jul-Dec     409
dtype: int64

### Get me list of all items that were sold in the Jul-Dec semester of the year 2020 for all States

In [40]:
y.loc[(slice(None), slice(None), slice(None)), ('2020', 'Jul-Dec')]

State      Region             Product
Karnataka  Central Bangalore  Air Conditioner    133
                              Smart Phone         93
                              Smart TV           173
           North Bangalore    Air Conditioner    253
                              Smart Phone        193
                              Smart TV           283
           South Bangalore    Air Conditioner     93
                              Smart Phone        143
                              Smart TV           153
Tamilnadu  Central Chennai    Air Conditioner    273
                              Smart Phone        153
                              Smart TV           273
           North Chennai      Air Conditioner    123
                              Smart Phone        153
                              Smart TV           103
           South Chennai      Air Conditioner    223
                              Smart Phone        163
                              Smart TV           193
Telangana  Hyderabad          Air Conditioner    113
                              Smart Phone        253
                              Smart TV           253
           Rangareddy         Air Conditioner    253
                              Smart Phone        223
                              Smart TV           183
           Secunderabad       Air Conditioner    233
                              Smart Phone        163
                              Smart TV           153
Name: (2020, Jul-Dec), dtype: int64

In [42]:
x.index.get_level_values('Product').unique()

Index(['Air Conditioner', 'Smart Phone', 'Smart TV'], dtype='object', name='Product')

### What method is used to know if the MultiIndex index is sorted or not

In [43]:
dir(pd.MultiIndex)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__isub__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_arith_method',
 '_assert_can_do_setop',
 '_attributes',
 '_can_hold_identifiers_and_holds_name',
 '_can_hold_na',
 '_can_hold_strings',
 '_can_use_libjoin',
 '_check_indexing_error',
 '_check_indexing_method',
 '_cleanup',
 '_cmp_method',
 '_codes',
 '_comparables',
 '_concat',
 '_construct_result',
 '_constructor',
 '_convert_can_do_setop',
 '_convert_slice_indexer',
 '_convert_tolerance',
 '_data_cls',
 '_difference',
 '_difference_compat',
 '_dir_additions',
 '_dir_additions_for_owner',
 '_dir_deletions',
 '_drop_from_level',
 '_drop_level_numbers',
 '_dti_setop_align_tzs',
 '_dtype_to_subclass',
 '_duplicated',
 '_engine',
 '_engine_type',
 '_engine_types',
 '_ensure_array',
 '_filter_indexer_tolerance',
 '_find_common_type_compat',
 '_format_attrs',
 '_format_data',
 '_format_duplicate_message',
 '_format_native_types',
 '_format_space',
 '_format_with_header',
 '_formatter_func',
 '_from_join_target',
 '_get_codes_for_sorting',
 '_get_default_index_names',
 '_get_engine_target',
 '_get_fill_indexer',
 '_get_fill_indexer_searchsorted',
 '_get_indexer',
 '_get_indexer_level_0',
 '_get_indexer_non_comparable',
 '_get_indexer_strict',
 '_get_join_target',
 '_get_level_indexer',
 '_get_level_names',
 '_get_level_number',
 '_get_level_values',
 '_get_loc_level',
 '_get_loc_single_level_index',
 '_get_names',
 '_get_nearest_indexer',
 '_get_reconciled_name_object',
 '_get_string_slice',
 '_getitem_slice',
 '_hidden_attrs',
 '_holds_integer',
 '_id',
 '_index_as_unique',
 '_inferred_type_levels',
 '_inner_indexer',
 '_intersection',
 '_intersection_via_get_indexer',
 '_is_all_dates',
 '_is_comparable_dtype',
 '_is_lexsorted',
 '_is_memory_usage_qualified',
 '_is_multi',
 '_is_strictly_monotonic_decreasing',
 '_is_strictly_monotonic_increasing',
 '_isnan',
 '_join_level',
 '_join_monotonic',
 '_join_multi',
 '_join_non_unique',
 '_join_precedence',
 '_join_via_get_indexer',
 '_left_indexer',
 '_left_indexer_unique',
 '_levels',
 '_lexsort_depth',
 '_logical_method',
 '_map_values',
 '_maybe_cast_indexer',
 '_maybe_cast_listlike_indexer',
 '_maybe_cast_slice_bound',
 '_maybe_check_unique',
 '_maybe_disable_logical_methods',
 '_maybe_disallow_fill',
 '_maybe_match_names',
 '_maybe_preserve_names',
 '_maybe_promote',
 '_memory_usage',
 '_mpl_repr',
 '_na_value',
 '_name',
 '_names',
 '_nbytes',
 '_no_setting_name',
 '_outer_indexer',
 '_partial_tup_index',
 '_raise_if_missing',
 '_raise_invalid_indexer',
 '_raise_scalar_data_error',
 '_reduce',
 '_references',
 '_reindex_non_unique',
 '_rename',
 '_reorder_indexer',
 '_require_scalar',
 '_requires_unique_msg',
 '_reset_cache',
 '_reset_identity',
 '_searchsorted_monotonic',
 '_set_codes',
 '_set_levels',
 '_set_names',
 '_shallow_copy',
 '_should_compare',
 '_should_fallback_to_positional',
 '_should_partial_index',
 '_simple_new',
 '_sort_levels_monotonic',
 '_summary',
 '_supports_partial_string_indexing',
 '_transform_index',
 '_typ',
 '_unary_method',
 '_union',
 '_validate_can_reindex',
 '_validate_codes',
 '_validate_fill_value',
 '_validate_index_level',
 '_validate_indexer',
 '_validate_names',
 '_validate_positional_slice',
 '_validate_sort_keyword',
 '_values',
 '_verify_integrity',
 '_view',
 '_with_infer',
 '_wrap_difference_result',
 '_wrap_intersection_result',
 '_wrap_joined_index',
 '_wrap_reindex_result',
 '_wrap_setop_result',
 'all',
 'any',
 'append',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asof',
 'asof_locs',
 'astype',
 'codes',
 'copy',
 'delete',
 'difference',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'equal_levels',
 'equals',
 'factorize',
 'fillna',
 'format',
 'from_arrays',
 'from_frame',
 'from_product',
 'from_tuples',
 'get_indexer',
 'get_indexer_for',
 'get_indexer_non_unique',
 'get_level_values',
 'get_loc',
 'get_loc_level',
 'get_locs',
 'get_slice_bound',
 'groupby',
 'has_duplicates',
 'hasnans',
 'holds_integer',
 'identical',
 'infer_objects',
 'inferred_type',
 'insert',
 'intersection',
 'is_',
 'is_boolean',
 'is_categorical',
 'is_floating',
 'is_integer',
 'is_interval',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_numeric',
 'is_object',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'join',
 'levels',
 'levshape',
 'map',
 'max',
 'memory_usage',
 'min',
 'name',
 'names',
 'nbytes',
 'ndim',
 'nlevels',
 'notna',
 'notnull',
 'nunique',
 'putmask',
 'ravel',
 'reindex',
 'remove_unused_levels',
 'rename',
 'reorder_levels',
 'repeat',
 'searchsorted',
 'set_codes',
 'set_levels',
 'set_names',
 'shape',
 'shift',
 'size',
 'slice_indexer',
 'slice_locs',
 'sort',
 'sort_values',
 'sortlevel',
 'str',
 'swaplevel',
 'symmetric_difference',
 'take',
 'to_flat_index',
 'to_frame',
 'to_list',
 'to_numpy',
 'to_series',
 'tolist',
 'transpose',
 'truncate',
 'union',
 'unique',
 'value_counts',
 'values',
 'view',
 'where']

In [32]:
is_sorted = y.index._is_lexsorted()

print(f"Is the MultiIndex lexsorted? {is_sorted}")

Is the MultiIndex lexsorted? True